In [1]:
import csv
import re
import nltk
import os
import numpy as np
import codecs
import multiprocessing as mp
import pandas as pd



csv.field_size_limit(500 * 1024 * 1024)
with open("messages.csv", "r") as csvfile:
    reader = csv.reader(csvfile)
    messages = []
    for row in reader:
        messages.append(row[1:])
messages = messages[1:]
messages = pd.DataFrame(messages, columns=['message', 'label', 'path'])
messages

,message,label,path
0,christma tree farm pictur,ham,spampy/datasets/enron\enron1\ham\0001.1999-12-...
1,vastar resourc inc gari product high island la...,ham,spampy/datasets/enron\enron1\ham\0002.1999-12-...
2,calpin daili ga nomin calpin daili ga nomin doc,ham,spampy/datasets/enron\enron1\ham\0003.1999-12-...
3,issu fyi see note alreadi done stella forward ...,ham,spampy/datasets/enron\enron1\ham\0004.1999-12-...
4,meter nov alloc fyi forward lauri allen hou ec...,ham,spampy/datasets/enron\enron1\ham\0005.1999-12-...
...,...,...,...
33711,iso q good news c edaliss val edumm vl eoggra ...,spam,spampy/datasets/enron\enron6\spam\5995.2005-07...
33712,prescript medicin special precis put buck back...,spam,spampy/datasets/enron\enron6\spam\5997.2005-07...
33713,next gener onlin pharmaci readi rock let man r...,spam,spampy/datasets/enron\enron6\spam\5998.2005-07...
33714,bloow time time learn last time longer bed rea...,spam,spampy/datasets/enron\enron6\spam\5999.2005-07...
33715,dear sir interest hi need softwar give link ht...,spam,spampy/datasets/enron\enron6\spam\6000.2005-07...

In [2]:
# Split train and test and store the path in x_train_path

from sklearn.model_selection import train_test_split
messages['label'] = messages['label'].replace('ham', 0)
messages['label'] = messages['label'].replace('spam', 1)

messages_label = messages['label']
message_path = messages['path']
x = messages['message']
y = messages_label

In [7]:
p41, p5, p41_y, p5_y = train_test_split(x, y, test_size=0.2)
p31, p4, p31_y, p4_y = train_test_split(p41, p41_y, test_size=0.25)
p21, p3, p21_y, p3_y = train_test_split(p31, p31_y, test_size=1/3)
p1, p2, p1_y, p2_y = train_test_split(p21, p21_y, test_size=0.5)

pd_p1 = pd.DataFrame(p1)
pd_p1.to_csv("pd_p1.csv")
pd_p2 = pd.DataFrame(p2)
pd_p2.to_csv("pd_p2.csv")
pd_p3 = pd.DataFrame(p3)
pd_p3.to_csv("pd_p3.csv")
pd_p4 = pd.DataFrame(p4)
pd_p4.to_csv("pd_p4.csv")
pd_p5 = pd.DataFrame(p5)
pd_p5.to_csv("pd_p5.csv")

pd_p1_y = pd.DataFrame(p1_y)
pd_p1_y.to_csv("pd_p1_y.csv")
pd_p2_y = pd.DataFrame(p2_y)
pd_p2_y.to_csv("pd_p2_y.csv")
pd_p3_y = pd.DataFrame(p3_y)
pd_p3_y.to_csv("pd_p3_y.csv")
pd_p4_y = pd.DataFrame(p4_y)
pd_p4_y.to_csv("pd_p4_y.csv")
pd_p5_y = pd.DataFrame(p5_y)
pd_p5_y.to_csv("pd_p5_y.csv")

                                                 message
12481  fw special issuealert big texa news wood ferc ...
30513  pre qualifi appli home loan mortgag novemb upd...
33368  new softwar breacher annul spot young want pow...
24089  hotel show last chanc exhibit hotel show may a...
29485  percent med levitra cial save xanax valium phe...
...                                                  ...
12644  global market monitor prepar presentaton argen...
7655   confirm order automat confirm order place use ...
17685  start date hourahead hour start date hourahead...
6726   softwar licens karla august vacat month franc ...
25513  readi get hello viagra med struggl men erectil...

[6743 rows x 1 columns]

In [3]:
def myopen(mydir):
    pd1 = []
    index1 = []
    with open(mydir, "r") as csvfile:
        reader = csv.reader(csvfile)
        for j, row in reader:
            index1.append(j)
            if row == '0' or row == '1':
                pd1.append(int(row))
            else: 
                pd1.append(row)
    pd1 = pd1[1:]
    index1 = index1[1:]
    pd1 = pd.Series(pd1, index = index1)
    return pd1

In [4]:
pd_p1 = myopen("pd_p1.csv")
pd_p2 = myopen("pd_p2.csv")
pd_p3 = myopen("pd_p3.csv")
pd_p4 = myopen("pd_p4.csv")
pd_p5 = myopen("pd_p5.csv")

pd_p1_y = myopen("pd_p1_y.csv")
pd_p2_y = myopen("pd_p2_y.csv")
pd_p3_y = myopen("pd_p3_y.csv")
pd_p4_y = myopen("pd_p4_y.csv")
pd_p5_y = myopen("pd_p5_y.csv")

In [5]:
x_train = pd_p1.append(pd_p2).append(pd_p3).append(pd_p5)
x_test = pd_p4

y_train = pd_p1_y.append(pd_p2_y).append(pd_p3_y).append(pd_p5_y)
y_test = pd_p4_y

In [26]:
print(len(pd_p1))
print(len(pd_p1_y))

6743
6743

In [6]:
x_train_path = []
for i, v in x_train.items():
    i = int(i)
    x_train_path.append((i, message_path[i]))
    
x_test_path = []
for i, v in x_test.items():
    i = int(i)
    x_test_path.append((i, message_path[i]))

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Tf-idf for train datasets
vect = TfidfVectorizer()
tfidf_train = vect.fit_transform(x_train)
tfidf_matrix_train = pd.DataFrame(tfidf_train.toarray(), columns = vect.get_feature_names())
headers = vect.get_feature_names()
tfidf_matrix_train

,aa,aaa,aaaa,aaaaci,aaaahhhhhh,aaadrizzl,aaaenerfax,aaal,aaaplusdirect,aab,...,zztc,zzucpkow,zzvffofbj,zzw,zzx,zzxtfeerekvwkug,zzxxst,zzyudgpd,zzzglvaa,zzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Tf-idf for test datsets
tfidf_test = vect.transform(x_test)
tfidf_matrix_test = pd.DataFrame(tfidf_test.toarray(), columns = vect.get_feature_names())
tfidf_matrix_test

,aa,aaa,aaaa,aaaaci,aaaahhhhhh,aaadrizzl,aaaenerfax,aaal,aaaplusdirect,aab,...,zztc,zzucpkow,zzvffofbj,zzw,zzx,zzxtfeerekvwkug,zzxxst,zzyudgpd,zzzglvaa,zzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6738,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from sklearn.model_selection import KFold
from secml.data import CDataset
from secml.data.splitter import CDataSplitterKFold
from secml.ml.classifiers import CClassifierSVM
from secml.ml.peval.metrics import CMetricAccuracy
from secml.ml.peval.metrics import CMetricConfusionMatrix

from secml.ml.classifiers.multiclass import CClassifierMulticlassOVA
from secml.ml.kernels import CKernelLinear

nb_col = tfidf_train.size

tr_set = CDataset(tfidf_train, y_train)


# Train the SVM
print("Build SVM")
xval_splitter = CDataSplitterKFold()
clf_lin = CClassifierSVM()


xval_lin_params = {'C': [1]}

print("Find the best params")

best_lin_params = clf_lin.estimate_parameters(
    dataset = tr_set,
    parameters = xval_lin_params,
    splitter = xval_splitter,
    metric = 'accuracy',
    perf_evaluator = 'xval'
)


print("Finish Train")
print("The best training parameters are: ", [(k, best_lin_params[k]) for k in sorted(best_lin_params)])

print("Train SVM")
clf_lin.fit(tr_set.X, tr_set.Y)

Build SVM
Find the best params
Finish Train
The best training parameters are:  [('C', 1)]
Train SVM

CClassifierSVM{'classes': CArray(2,)(dense: [0 1]), 'n_features': 106292, 'preprocess': None, 'n_jobs': 1, 'C': 1.0, 'class_weight': None, 'w': CArray(1, 106292)(sparse: (0, 81980) 0.037349991956252916  (0, 71399) 0.03200460184631901  (0, 58187) 0.028518800517331536  (0, 57281) 0.040657785107124256  (0, 15442) 0.05964410441498885  (0, 104573) 0.09654555076978681  (0, 91525) 0.10168648272798353  (0, 91038) 0.10168648272798353  (0, 76414) 0.10576706998756438  (0, 73891) 0.10576706998756438  (0, 73644) 0.10576706998756438  (0, 53378) 0.098791259991966  (0, 36549) 0.10168648272798353  (0, 28904) 0.10576706998756438  (0, 26751) 0.10576706998756438  (0, 23325) 0.08956974077418844  (0, 19858) 0.098791259991966  (0, 6511) 0.10168648272798353  (0, 101084) 0.015465951843963186  (0, 100717) 0.01694317757848104  (0, 84945) 0.01694317757848104  (0, 82708) 0.0158256994492007  (0, 73118) 0.01694317757848104  (0, 71294) 0.0158256994492007  (0, 56074) 0.014194816534193315  : :  (0, 44035) 0.5335880870016468  (0, 41677) -1.3086073281074242  (0, 32514) -0.25639360618952034  (0, 29964) -0.6379227889463064  (0, 28708) 0.3079939677723134  (0, 28621) -6.898316462133731  (0, 27698) 0.026743800138037357  (0, 27655) 0.2871696204512634  (0, 27067) -0.29774747286066044  (0, 26791) 0.10620312746912305  (0, 21463) -0.7642537971143348  (0, 20558) -0.270751666639715  (0, 19691) -0.03943269119962432  (0, 18600) 0.03175703106883731  (0, 18572) 0.3996162694206965  (0, 17598) -0.36227848315681294  (0, 17564) -0.0634535254806816  (0, 17536) -1.0762465722241876  (0, 17436) -0.1311241471017345  (0, 17384) -0.2845927107266319  (0, 14961) 0.037061105175766496  (0, 11598) 0.31319026737050887  (0, 9683) -0.4872287494536722  (0, 3886) -1.1935153603906978  (0, 933) -0.09220312607660322), 'b': CArray(1,)(dense: [0.535617]), 'alpha': None, 'sv_idx': None, 'kernel': None}

In [10]:
# Test the Classifier
ts_set = CDataset(tfidf_test, y_test)
print(ts_set)

y_pred = clf_lin.predict(ts_set.X)
metric = CMetricAccuracy()
acc = metric.performance_score(y_true=ts_set.Y, y_pred=y_pred)

confusion_matrix = CMetricConfusionMatrix() 
cm = confusion_matrix.performance_score(y_true=ts_set.Y, y_pred=y_pred)

print("Accuracy on test set: {:.2%}".format(acc))
print("Confusion Matrix: ")
print(cm)
print("False Positive Rate: {:.2%}".format(39/(39+3445)))

print("False Negative Rate: {:.2%}".format(15/(15+3203)))

CDataset{'X': CArray(6743, 106292)(sparse: (0, 104066) 0.031058293442085286  (0, 99978) 0.021860893617808942  (0, 99641) 0.10496491730026943  (0, 98190) 0.026408120771934808  (0, 97158) 0.3758084642805929  (0, 96380) 0.017924778036153905  (0, 95162) 0.05107547725985605  (0, 92967) 0.15367858624157035  (0, 91827) 0.01585268240328143  (0, 91371) 0.02260056165713833  (0, 90939) 0.0610722656896288  (0, 90218) 0.1134505677463461  (0, 89611) 0.024874610205727857  (0, 88599) 0.04886411905149069  (0, 87880) 0.03681648804020712  (0, 87743) 0.04744382505205558  (0, 86982) 0.020770465147357815  (0, 86808) 0.029610193177122428  (0, 85729) 0.025205974012599924  (0, 84289) 0.03246148317722166  (0, 84056) 0.0306275494014894  (0, 84037) 0.027402449050965793  (0, 83392) 0.032016383997380236  (0, 82956) 0.026134302448106203  (0, 82285) 0.018478877295018018  : :  (6741, 70094) 0.07033142705539464  (6741, 68105) 0.09496968431890036  (6741, 61895) 0.08133195074028948  (6741, 60807) 0.07109811860757499  (6741, 57075) 0.12814204630509315  (6741, 56052) 0.060092422476109714  (6741, 51848) 0.06512071773996594  (6741, 48974) 0.07609505031976212  (6741, 44736) 0.0516175882121968  (6741, 39125) 0.10825431182308856  (6741, 37463) 0.5468216760036233  (6741, 31513) 0.07190584646297347  (6741, 28621) 0.04984889315395382  (6741, 24132) 0.14369710545522452  (6741, 21754) 0.12939781056206778  (6741, 19716) 0.07627187180322413  (6741, 18848) 0.14998905956469213  (6741, 17384) 0.04492117818940922  (6741, 17263) 0.11632109804361457  (6741, 13010) 0.08032614501733973  (6741, 12747) 0.09052170185991881  (6741, 10656) 0.08304132926454422  (6741, 8727) 0.1361769475553078  (6741, 5664) 0.07625918923973635  (6741, 5530) 0.07241094987237755), 'Y': CArray(6743,)(dense: [0 0 1 ... 0 0 1]), 'header': None}
Accuracy on test set: 98.99%
Confusion Matrix:
CArray([[3261   54]
 [  14 3414]])
False Positive Rate: 1.12%
False Negative Rate: 0.47%

In [11]:
import random
from secml.array import CArray
from secml.adv.attacks.evasion import CAttackEvasionPGD

nb_attack=100

class_to_attack=1
cnt = 0

ori_examples2_x = []
ori_examples2_y = []
number_list = []
for i in range(nb_attack):
    #take a point at random being the starting point of the attack
    idx_candidates = np.where(y_test == class_to_attack)
    #select nb_init_pts points randomly in candidates and make them move
    rn = np.random.choice(idx_candidates[0].size, 1)
    x0,y0 =ts_set[idx_candidates[0][rn[0]],:].X, ts_set[idx_candidates[0][rn[0]],:].Y
    number_list.append(x_test_path[idx_candidates[0][rn[0]]])
    
    x0=x0.astype(float)
    y0=y0.astype(int)
    x2 = x0.tondarray()[0]
    y2 = y0.tondarray()[0]
    
    ori_examples2_x.append(x2)
    ori_examples2_y.append(y2)
    
number_list

[(24118,
  'spampy/datasets/enron\\enron5\\spam\\0108.2002-05-08.SA_and_HP.spam.txt'),
 (26691,
  'spampy/datasets/enron\\enron5\\spam\\3728.2005-07-06.SA_and_HP.spam.txt'),
 (10511,
  'spampy/datasets/enron\\enron2\\spam\\3837.2005-07-04.SA_and_HP.spam.txt'),
 (32915, 'spampy/datasets/enron\\enron6\\spam\\4919.2005-05-20.BG.spam.txt'),
 (10039,
  'spampy/datasets/enron\\enron2\\spam\\2018.2005-06-22.SA_and_HP.spam.txt'),
 (18925, 'spampy/datasets/enron\\enron4\\spam\\1172.2004-05-14.GP.spam.txt'),
 (21253, 'spampy/datasets/enron\\enron4\\spam\\4278.2005-02-14.GP.spam.txt'),
 (30938, 'spampy/datasets/enron\\enron6\\spam\\2309.2004-12-24.BG.spam.txt'),
 (21766, 'spampy/datasets/enron\\enron4\\spam\\4968.2005-04-22.GP.spam.txt'),
 (20082, 'spampy/datasets/enron\\enron4\\spam\\2725.2004-10-14.GP.spam.txt'),
 (18157, 'spampy/datasets/enron\\enron4\\spam\\0156.2004-01-10.GP.spam.txt'),
 (18290, 'spampy/datasets/enron\\enron4\\spam\\0328.2004-02-03.GP.spam.txt'),
 (24706,
  'spampy/datasets/enron\\enron5\\spam\\0942.2002-08-05.SA_and_HP.spam.txt'),
 (30673, 'spampy/datasets/enron\\enron6\\spam\\1957.2004-12-04.BG.spam.txt'),
 (4481, 'spampy/datasets/enron\\enron1\\spam\\2840.2004-11-16.GP.spam.txt'),
 (21974, 'spampy/datasets/enron\\enron4\\spam\\5244.2005-05-21.GP.spam.txt'),
 (15362, 'spampy/datasets/enron\\enron3\\spam\\1187.2004-11-04.BG.spam.txt'),
 (21879, 'spampy/datasets/enron\\enron4\\spam\\5116.2005-05-06.GP.spam.txt'),
 (29241, 'spampy/datasets/enron\\enron6\\spam\\0034.2004-08-03.BG.spam.txt'),
 (21377, 'spampy/datasets/enron\\enron4\\spam\\4445.2005-02-23.GP.spam.txt'),
 (26775,
  'spampy/datasets/enron\\enron5\\spam\\3845.2005-07-12.SA_and_HP.spam.txt'),
 (24918,
  'spampy/datasets/enron\\enron5\\spam\\1232.2002-09-17.SA_and_HP.spam.txt'),
 (27360,
  'spampy/datasets/enron\\enron5\\spam\\4683.2005-07-19.SA_and_HP.spam.txt'),
 (19213, 'spampy/datasets/enron\\enron4\\spam\\1558.2004-06-26.GP.spam.txt'),
 (27060,
  'spampy/datasets/enron\\enron5\\spam\\4253.2005-07-17.SA_and_HP.spam.txt'),
 (33652, 'spampy/datasets/enron\\enron6\\spam\\5914.2005-07-23.BG.spam.txt'),
 (21352, 'spampy/datasets/enron\\enron4\\spam\\4411.2005-02-22.GP.spam.txt'),
 (31839, 'spampy/datasets/enron\\enron6\\spam\\3496.2005-02-17.BG.spam.txt'),
 (30688, 'spampy/datasets/enron\\enron6\\spam\\1977.2004-12-05.BG.spam.txt'),
 (10079,
  'spampy/datasets/enron\\enron2\\spam\\2168.2005-06-23.SA_and_HP.spam.txt'),
 (19781, 'spampy/datasets/enron\\enron4\\spam\\2317.2004-09-11.GP.spam.txt'),
 (30618, 'spampy/datasets/enron\\enron6\\spam\\1883.2004-11-29.BG.spam.txt'),
 (24304,
  'spampy/datasets/enron\\enron5\\spam\\0370.2002-06-02.SA_and_HP.spam.txt'),
 (31015, 'spampy/datasets/enron\\enron6\\spam\\2409.2004-12-29.BG.spam.txt'),
 (9752,
  'spampy/datasets/enron\\enron2\\spam\\0925.2002-07-25.SA_and_HP.spam.txt'),
 (25881,
  'spampy/datasets/enron\\enron5\\spam\\2578.2005-06-28.SA_and_HP.spam.txt'),
 (19800, 'spampy/datasets/enron\\enron4\\spam\\2344.2004-09-13.GP.spam.txt'),
 (22275, 'spampy/datasets/enron\\enron4\\spam\\5644.2005-07-15.GP.spam.txt'),
 (4609, 'spampy/datasets/enron\\enron1\\spam\\3319.2004-12-27.GP.spam.txt'),
 (18086, 'spampy/datasets/enron\\enron4\\spam\\0064.2003-12-26.GP.spam.txt'),
 (20674, 'spampy/datasets/enron\\enron4\\spam\\3511.2004-12-11.GP.spam.txt'),
 (10398,
  'spampy/datasets/enron\\enron2\\spam\\3346.2005-06-30.SA_and_HP.spam.txt'),
 (10576,
  'spampy/datasets/enron\\enron2\\spam\\4143.2005-07-06.SA_and_HP.spam.txt'),
 (10005,
  'spampy/datasets/enron\\enron2\\spam\\1881.2005-06-22.SA_and_HP.spam.txt'),
 (30993, 'spampy/datasets/enron\\enron6\\spam\\2378.2004-12-28.BG.spam.txt'),
 (3757, 'spampy/datasets/enron\\enron1\\spam\\0328.2004-01-29.GP.spam.txt'),
 (20333, 'spampy/datasets/enron\\enron4\\spam\\3061.2004-11-10.GP.spam.txt'),
 (26883,
  'spampy/datasets/enron\\enron5\\spam\\4001.2005-07-15.SA_and_HP.spam.txt'),
 (24919,
  'spampy/datasets/enron\\enron5\\spam\\1233.2002-09-18.SA_and_HP.spam.txt'),
 (20034, 'spampy/datasets/enron\\enron4\\spam\\2661.2004-10-10.GP.spam.txt'),
 (22460, 'spampy/datasets/enron\\enron4\\spam\\5889.2005-08-24.GP.spam.txt'),
 (18450, 'spampy/datasets/enron\\enron4\\spam\\0540.2004-03-04.GP.spam.txt'),
 (32608, 'spampy/datasets/enron\\enron6\\spam\\4516.2005-04-23.BG.spam.txt'),
 (31002, 'spampy/datasets/enron\\enron6\\spam\\2390.2004-12-28.BG.spam.txt'),
 (21688, 'spampy/datasets/enron\\enron4\\spam\\4861.2005-04-10.GP.spam.txt'),
 (5014, 'spampy/datasets/enron\\enron1\\spam\\4675.2005-06-10.GP.spam.txt'),
 (4496, 'spampy/datasets/enron\\enron1\\spam\\2923.2004-11-23.GP.spam.txt'),
 (10499,
  'spampy/datasets/enron\\enron2\\spam\\3773.2005-07-03.SA_and_HP.spam.txt'),
 (22372, 'spampy/datasets/enron\\enron4\\spam\\5774.2005-08-03.GP.spam.txt'),
 (30129, 'spampy/datasets/enron\\enron6\\spam\\1227.2004-10-25.BG.spam.txt'),
 (10456,
  'spampy/datasets/enron\\enron2\\spam\\3593.2005-07-02.SA_and_HP.spam.txt'),
 (31733, 'spampy/datasets/enron\\enron6\\spam\\3355.2005-02-10.BG.spam.txt'),
 (5014, 'spampy/datasets/enron\\enron1\\spam\\4675.2005-06-10.GP.spam.txt'),
 (27424,
  'spampy/datasets/enron\\enron5\\spam\\4773.2005-07-19.SA_and_HP.spam.txt'),
 (31248, 'spampy/datasets/enron\\enron6\\spam\\2720.2005-01-14.BG.spam.txt'),
 (15399, 'spampy/datasets/enron\\enron3\\spam\\1324.2004-11-10.BG.spam.txt'),
 (10639,
  'spampy/datasets/enron\\enron2\\spam\\4397.2005-07-12.SA_and_HP.spam.txt'),
 (15693, 'spampy/datasets/enron\\enron3\\spam\\2388.2005-01-12.BG.spam.txt'),
 (15562, 'spampy/datasets/enron\\enron3\\spam\\1911.2004-12-16.BG.spam.txt'),
 (10834,
  'spampy/datasets/enron\\enron2\\spam\\5109.2005-07-19.SA_and_HP.spam.txt'),
 (32943, 'spampy/datasets/enron\\enron6\\spam\\4958.2005-05-23.BG.spam.txt'),
 (10780,
  'spampy/datasets/enron\\enron2\\spam\\4912.2005-07-17.SA_and_HP.spam.txt'),
 (22474, 'spampy/datasets/enron\\enron4\\spam\\5909.2005-08-26.GP.spam.txt'),
 (30920, 'spampy/datasets/enron\\enron6\\spam\\2285.2004-12-23.BG.spam.txt'),
 (33484, 'spampy/datasets/enron\\enron6\\spam\\5688.2005-07-10.BG.spam.txt'),
 (21352, 'spampy/datasets/enron\\enron4\\spam\\4411.2005-02-22.GP.spam.txt'),
 (15464, 'spampy/datasets/enron\\enron3\\spam\\1543.2004-11-24.BG.spam.txt'),
 (25268,
  'spampy/datasets/enron\\enron5\\spam\\1712.2005-06-22.SA_and_HP.spam.txt'),
 (9995,
  'spampy/datasets/enron\\enron2\\spam\\1841.2005-06-21.SA_and_HP.spam.txt'),
 (33268, 'spampy/datasets/enron\\enron6\\spam\\5398.2005-06-23.BG.spam.txt'),
 (30024, 'spampy/datasets/enron\\enron6\\spam\\1085.2004-10-17.BG.spam.txt'),
 (19537, 'spampy/datasets/enron\\enron4\\spam\\1989.2004-08-11.GP.spam.txt'),
 (24163,
  'spampy/datasets/enron\\enron5\\spam\\0172.2002-05-15.SA_and_HP.spam.txt'),
 (32653, 'spampy/datasets/enron\\enron6\\spam\\4574.2005-04-28.BG.spam.txt'),
 (4756, 'spampy/datasets/enron\\enron1\\spam\\3845.2005-02-15.GP.spam.txt'),
 (20845, 'spampy/datasets/enron\\enron4\\spam\\3736.2004-12-30.GP.spam.txt'),
 (32819, 'spampy/datasets/enron\\enron6\\spam\\4794.2005-05-12.BG.spam.txt'),
 (32182, 'spampy/datasets/enron\\enron6\\spam\\3941.2005-03-16.BG.spam.txt'),
 (4775, 'spampy/datasets/enron\\enron1\\spam\\3894.2005-02-22.GP.spam.txt'),
 (19056, 'spampy/datasets/enron\\enron4\\spam\\1347.2004-06-02.GP.spam.txt'),
 (24905,
  'spampy/datasets/enron\\enron5\\spam\\1215.2002-09-16.SA_and_HP.spam.txt'),
 (26997,
  'spampy/datasets/enron\\enron5\\spam\\4160.2005-07-16.SA_and_HP.spam.txt'),
 (4949, 'spampy/datasets/enron\\enron1\\spam\\4455.2005-05-07.GP.spam.txt'),
 (30288, 'spampy/datasets/enron\\enron6\\spam\\1436.2004-11-06.BG.spam.txt'),
 (4791, 'spampy/datasets/enron\\enron1\\spam\\3947.2005-03-01.GP.spam.txt'),
 (27175,
  'spampy/datasets/enron\\enron5\\spam\\4423.2005-07-18.SA_and_HP.spam.txt'),
 (4807, 'spampy/datasets/enron\\enron1\\spam\\3985.2005-03-06.GP.spam.txt'),
 (19488, 'spampy/datasets/enron\\enron4\\spam\\1923.2004-08-02.GP.spam.txt'),
 (26372,
  'spampy/datasets/enron\\enron5\\spam\\3267.2005-07-03.SA_and_HP.spam.txt'),
 (27353,
  'spampy/datasets/enron\\enron5\\spam\\4671.2005-07-19.SA_and_HP.spam.txt')]

In [12]:
# Perform adversarial attacks
noise_type = 'l2'  # Type of perturbation 'l1' or 'l2'
dmax = 0.09 # Maximum perturbation
lb, ub = 0, 1  # Bounds of the attack space. Can be set to `None` for unbounded

solver_params = {
    'eta': 0.01,
    'max_iter': 20,
    'eps': 1e-6}

#set lower bound and upper bound respectively to 0 and 1 since all features are Boolean
pgd_attack = CAttackEvasionPGD(
    classifier=clf_lin,
    double_init_ds=tr_set,
    distance=noise_type,
    dmax=dmax,
    lb=lb, ub=ub,
    solver_params=solver_params)


ad_examples_x = []
ad_examples_y = []
cnt = 0
for i in range(len(ori_examples2_x)):
    print("Current Number:", i)
    x0 = ori_examples2_x[i]
    y0 = ori_examples2_y[i]

    y_pred_pgd, _, adv_ds_pgd, _ = pgd_attack.run(x0, y0)

    if y_pred_pgd.item() == 0:
        cnt = cnt + 1

    ad_examples_x.append(adv_ds_pgd.X.tondarray()[0])
    ad_examples_y.append(y_pred_pgd.item())

    attack_pt = adv_ds_pgd.X.tondarray()[0]
print("Accuracy:", cnt/nb_attack)

Current Number: 0
Current Number: 1
Current Number: 2
Current Number: 3
Current Number: 4
Current Number: 5
Current Number: 6
Current Number: 7
Current Number: 8
Current Number: 9
Current Number: 10
Current Number: 11
Current Number: 12
Current Number: 13
Current Number: 14
Current Number: 15
Current Number: 16
Current Number: 17
Current Number: 18
Current Number: 19
Current Number: 20
Current Number: 21
Current Number: 22
Current Number: 23
Current Number: 24
Current Number: 25
Current Number: 26
Current Number: 27
Current Number: 28
Current Number: 29
Current Number: 30
Current Number: 31
Current Number: 32
Current Number: 33
Current Number: 34
Current Number: 35
Current Number: 36
Current Number: 37
Current Number: 38
Current Number: 39
Current Number: 40
Current Number: 41
Current Number: 42
Current Number: 43
Current Number: 44
Current Number: 45
Current Number: 46
Current Number: 47
Current Number: 48
Current Number: 49
Current Number: 50
Current Number: 51
Current Number: 52
Current Number: 53
Current Number: 54
Current Number: 55
Current Number: 56
Current Number: 57
Current Number: 58
Current Number: 59
Current Number: 60
Current Number: 61
Current Number: 62
Current Number: 63
Current Number: 64
Current Number: 65
Current Number: 66
Current Number: 67
Current Number: 68
Current Number: 69
Current Number: 70
Current Number: 71
Current Number: 72
Current Number: 73
Current Number: 74
Current Number: 75
Current Number: 76
Current Number: 77
Current Number: 78
Current Number: 79
Current Number: 80
Current Number: 81
Current Number: 82
Current Number: 83
Current Number: 84
Current Number: 85
Current Number: 86
Current Number: 87
Current Number: 88
Current Number: 89
Current Number: 90
Current Number: 91
Current Number: 92
Current Number: 93
Current Number: 94
Current Number: 95
Current Number: 96
Current Number: 97
Current Number: 98
Current Number: 99
Accuracy: 0.97

In [13]:
ori_examples2_x = np.array(ori_examples2_x)
ori_examples2_y = np.array(ori_examples2_y)
ad_examples_x = np.array(ad_examples_x)
ad_examples_y = np.array(ad_examples_y)

ori_dataframe = pd.DataFrame(ori_examples2_x, columns = vect.get_feature_names())
ad_dataframe = pd.DataFrame(ad_examples_x, columns = vect.get_feature_names())

ad_dataframe['ad_label'] = ad_examples_y
ad_success = ad_dataframe.loc[ad_dataframe.ad_label == 0]
ori_success = ori_dataframe.loc[ad_dataframe.ad_label == 0]
ad_fail = ad_dataframe.loc[ad_dataframe.ad_label == 1]
ori_fail = ori_dataframe.loc[ad_dataframe.ad_label == 1]

ad_success_x = ad_success.drop(columns = ['ad_label'])
ad_fail_x = ad_fail.drop(columns = ['ad_label'])
result = (ad_success_x - ori_success)

vect.idf_
IDF = pd.DataFrame(vect.idf_.T, index=vect.get_feature_names())
IDF.to_csv("idf.csv")
IDF

                         0
aa                6.032145
aaa               7.870424
aaaa             10.104016
aaaaci           10.509482
aaaahhhhhh       10.509482
...                    ...
zzxtfeerekvwkug  10.509482
zzxxst           10.509482
zzyudgpd         10.509482
zzzglvaa         10.509482
zzzz              8.258190

[106292 rows x 1 columns]

In [14]:
# Method 2
x2result1 = result
x2result1 = np.array(x2result1)
x2result = result
x2result = x2result.multiply(x2result1)

 
sum_number = x2result.sum()/cnt


sum_number = pd.DataFrame(sum_number, columns = ['sum_number'])
sum_number = sum_number.sort_values(by='sum_number', ascending=False, inplace=False)
sum_number
#sum_number = sum_number.loc[var_number['var_number']>0]
#print(sum_number.index[:200])
#print(sum_number.index[:500])

sum_number_pd = pd.DataFrame(sum_number.index[:100])
sum_number_pd.to_csv("x2result.csv")
sum_number_pd

            0
0       enron
1        vinc
2       louis
3       thank
4      attach
..        ...
95        kal
96      octob
97      cdnow
98  beenladen
99        aol

[100 rows x 1 columns]

In [ ]:
# ori > 0, ad = 0
# The dispearing features
ad1 = ad_success_x
ori1 = ori_success

ori2 = ori1.loc[:, (ori1>=0).all(axis=0)]
ori = ori2.loc[:, ~(ori2==0).all(axis=0)]

ad = ad1.loc[:,ori.columns]
ad = ad.loc[:, (ad>=0).all(axis=0)]
ad = ad.loc[:, ~(ad>0).all(axis=0)]

ori1_ad0_columns = ad.columns
ori1_ad0_columns = pd.DataFrame(ori1_ad0_columns)
ori1_ad0_columns.to_csv("ori1_ad0_columns.csv")

In [ ]:
# ori = 0, ad > 0
# The adding features
ad11 = ad_success_x
ori11 = ori_success

ori21 = ori11.loc[:, (ori11>=0).all(axis=0)]
ori22 = ori21.loc[:, ~(ori21>0).all(axis=0)]

ad22 = ad11.loc[:,ori22.columns]
ad22 = ad22.loc[:, (ad22>=0).all(axis=0)]
ad22 = ad22.loc[:, ~(ad22==0).all(axis=0)]

ori0_ad1_columns = ad22.columns
ori0_ad1_columns = pd.DataFrame(ori0_ad1_columns)
ori0_ad1_columns.to_csv("ori0_ad1_columns.csv")

In [15]:
from nltk import stem
stemmer = stem.PorterStemmer()
cut_model = nltk.WordPunctTokenizer()

from nltk.corpus import stopwords
stopwords = stopwords.words('english')

# words14 = "enrononlin fundi cera dailyupd jobsearch congrad ena listbot counterparti calger sitara jhherbert kaminski solarc clickathom"
# words14 = "eyeforenergi ena counterparti kaminski enrononlin clickathom jhherbert cera topica calger sitara cdnow beenladen"
words14 = " cdnow kaminski enrononlin ena"
spam_cnt = 0
d2 = "spampy/datasets/enron/"
for r in range(1, 7):
    d3 = d2 + "enron" + str(r)+"/spam"
    emails2 = [os.path.join(d3, f) for f in os.listdir(d3)]
    for j in emails2:
        with codecs.open(j, "rb", encoding='utf_8_sig', errors='ignore') as m:
            #print(j)
            choose_email = []
            line_str = ""
            for line in m:
                for word in line:
                    if word.startswith("http"):
                        word = "URL"
                    word = stemmer.stem(word)

                line = re.sub(r'[^a-zA-Z\s]', '', string=line)
                line = line.lower()
                line = line.strip()
                tokens = cut_model.tokenize(line)
                line = [stemmer.stem(token) for token in tokens if token not in stopwords]

                line = ' '.join(line)
                line_str = line_str+line+" "
            line_str = line_str+words14
            choose_email.append(line_str)
        message_14_email = pd.DataFrame(choose_email, columns = ["message"])
        message_14_tf_idf = vect.transform(message_14_email["message"])
        message_14_tf_idf = pd.DataFrame(message_14_tf_idf.toarray(), columns = vect.get_feature_names())
        #print(message_14_tf_idf)
        message_14_y = [1]
        message_14_y = pd.Series(message_14_y)
        message_CData = CDataset(message_14_tf_idf, message_14_y)
        message_14_pred = clf_lin.predict(message_CData.X)
        # print(message_14_pred)
        if message_14_pred == 0:
            spam_cnt = spam_cnt+1
        #break
    print(r, spam_cnt)
print("Count: ", spam_cnt)

1 271
2 391
3 503
4 1264
5 1569
6 1958
Count:  1958

In [ ]:
intersect = "cdnow kaminski enrononlin ena"
union = "kal topica cdnow ferc lokay cera jhherbert enrononlin sitara listbot calger wassup pjm kaminski counterparti eyeforenergi clickathom reactionsnet ena beenladen"