In [1]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\TerrenceZwy\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [10]:
import re
import nltk
import os
import numpy as np
import codecs
import multiprocessing as mp
import pandas as pd

from nltk.corpus import stopwords
from collections import Counter
from typing import Dict, List, Tuple

from nltk import stem

stemmer = stem.PorterStemmer()

# find the path of emails
def listdir(directory: str) -> List:
    """
    A specialized version of os.listdir() that ignores files that
    start with a leading period.
    
    Especially dismissing .DS_STORE s.
    """
    filelist = os.listdir(directory)
    return [x for x in filelist if not (x.startswith('.'))]

stopwords = stopwords.words('english')
cut_model = nltk.WordPunctTokenizer()


# Preprocess emails
def enron_processor(emails_dir: str, return_list: list) -> list:    
    """
    * remove numbers
    * remove stopwords
    * add lables
    """
    dirs = [os.path.join(emails_dir, f) for f in os.listdir(emails_dir)]
    for d in dirs:
        emails = [os.path.join(d, f) for f in os.listdir(d)]
        for mail in emails:
            # print(mail)
            with codecs.open(mail, "rb", encoding='utf_8_sig', errors='ignore') as m:
                email_list = []
                line_str = ""
                for line in m:
                    for word in line:
                        if word.startswith("http"):
                            print(word)
                            word = "URL"
                            print(word)
                        word = stemmer.stem(word)
                    line = re.sub(r'[^a-zA-Z\s]', '', string=line)
                    line = line.lower()
                    line = line.strip()
                    tokens = cut_model.tokenize(line)
                    line = [stemmer.stem(token) for token in tokens if token not in stopwords]
           
                    line = ' '.join(line)
                    line_str = line_str+line+" "
                email_list.append(line_str)
                
                if mail.split(".")[-2] == 'spam':
                    email_list.append("spam")
                else: 
                    email_list.append("ham")
                email_list.append(mail)
                return_list.append(email_list)
                

                
return_dict = {}   
root_dir = 'spampy/datasets/enron'
emails_dirs = [os.path.join(root_dir, f) for f in listdir(root_dir)]
return_list = []
for emails_dir in emails_dirs:
    enron_processor(emails_dir, return_list)


messages = pd.DataFrame(return_list, columns=['message', 'label', 'path'])

In [11]:
messages.to_csv("messages.csv")

In [1]:
import csv
import re
import nltk
import os
import numpy as np
import codecs
import multiprocessing as mp
import pandas as pd



csv.field_size_limit(500 * 1024 * 1024)
with open("messages.csv", "r") as csvfile:
    reader = csv.reader(csvfile)
    messages = []
    for row in reader:
        messages.append(row[1:])
messages = messages[1:]
messages = pd.DataFrame(messages, columns=['message', 'label', 'path'])
messages

,message,label,path
0,christma tree farm pictur,ham,spampy/datasets/enron\enron1\ham\0001.1999-12-...
1,vastar resourc inc gari product high island la...,ham,spampy/datasets/enron\enron1\ham\0002.1999-12-...
2,calpin daili ga nomin calpin daili ga nomin doc,ham,spampy/datasets/enron\enron1\ham\0003.1999-12-...
3,issu fyi see note alreadi done stella forward ...,ham,spampy/datasets/enron\enron1\ham\0004.1999-12-...
4,meter nov alloc fyi forward lauri allen hou ec...,ham,spampy/datasets/enron\enron1\ham\0005.1999-12-...
...,...,...,...
33711,iso q good news c edaliss val edumm vl eoggra ...,spam,spampy/datasets/enron\enron6\spam\5995.2005-07...
33712,prescript medicin special precis put buck back...,spam,spampy/datasets/enron\enron6\spam\5997.2005-07...
33713,next gener onlin pharmaci readi rock let man r...,spam,spampy/datasets/enron\enron6\spam\5998.2005-07...
33714,bloow time time learn last time longer bed rea...,spam,spampy/datasets/enron\enron6\spam\5999.2005-07...
33715,dear sir interest hi need softwar give link ht...,spam,spampy/datasets/enron\enron6\spam\6000.2005-07...

In [2]:
# Split train and test (4:1) and store the path in x_train_path

from sklearn.model_selection import train_test_split
messages['label'] = messages['label'].replace('ham', 0)
messages['label'] = messages['label'].replace('spam', 1)

messages_label = messages['label']
message_path = messages['path']
x = messages['message']
y = messages_label

x_train_path = []
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

#print(type(x_train))
for i, v in x_train.items():
    x_train_path.append((i, message_path[i]))

x_test_path = []
for i, v in x_test.items():
    x_test_path.append((i, message_path[i]))

In [3]:
x_train

16866     bill desk desk deal number check w volum mgmt...
8409     durasoft java class think option sg forward st...
21190    girl want meet tonight welcom planet largest n...
11095    fw organiz chang east power origin messag enro...
5098     nebenarbeit al gehilf ref sehr geehrter zuk nf...
                               ...
33218    read messag pleasur alway dreamt rock hard ere...
22411    rfp diagnosi prognosi algorithm research pleas...
334      hpl system train daren would like session sepa...
4743     need track k hi reciev email last week happi t...
30913    vote jerald want know porn star stay hard cum ...
Name: message, Length: 26972, dtype: object

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Tf-idf for train datasets
vect = TfidfVectorizer()
tfidf_train = vect.fit_transform(x_train)
tfidf_matrix_train = pd.DataFrame(tfidf_train.toarray(), columns = vect.get_feature_names())
headers = vect.get_feature_names()
tfidf_matrix_train

,aa,aaa,aaaa,aaaaci,aaaahhhhhh,aaadrizzl,aaaenerfax,aaal,aaasash,aab,...,zzucpkow,zzw,zzx,zzxtfeerekvwkug,zzxxst,zzyudgpd,zzzglvaa,zzzxlqbha,zzzz,zzzzcard
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Tf-idf for test datsets
tfidf_test = vect.transform(x_test)
tfidf_matrix_test = pd.DataFrame(tfidf_test.toarray(), columns = vect.get_feature_names())
tfidf_matrix_test

,aa,aaa,aaaa,aaaaci,aaaahhhhhh,aaadrizzl,aaaenerfax,aaal,aaasash,aab,...,zzucpkow,zzw,zzx,zzxtfeerekvwkug,zzxxst,zzyudgpd,zzzglvaa,zzzxlqbha,zzzz,zzzzcard
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
from sklearn.model_selection import KFold
from secml.data import CDataset
from secml.data.splitter import CDataSplitterKFold
from secml.ml.classifiers import CClassifierSVM
from secml.ml.peval.metrics import CMetricAccuracy
from secml.ml.peval.metrics import CMetricConfusionMatrix

from secml.ml.classifiers.multiclass import CClassifierMulticlassOVA
from secml.ml.kernels import CKernelLinear

nb_col = tfidf_train.size

tr_set = CDataset(tfidf_train, y_train)


# Train the SVM
print("Build SVM")
xval_splitter = CDataSplitterKFold()
clf_lin = CClassifierSVM()


xval_lin_params = {'C': [0.001, 0.01, 0.1, 1, 10]}

print("Find the best params")

best_lin_params = clf_lin.estimate_parameters(
    dataset = tr_set,
    parameters = xval_lin_params,
    splitter = xval_splitter,
    metric = 'accuracy',
    perf_evaluator = 'xval'
)


print("Finish Train")
print("The best training parameters are: ", [(k, best_lin_params[k]) for k in sorted(best_lin_params)])

print("Train SVM")
clf_lin.fit(tr_set.X, tr_set.Y)

Build SVM
Find the best params
Finish Train
The best training parameters are:  [('C', 1)]
Train SVM

CClassifierSVM{'classes': CArray(2,)(dense: [0 1]), 'n_features': 106158, 'preprocess': None, 'n_jobs': 1, 'C': 1.0, 'class_weight': None, 'w': CArray(1, 106158)(sparse: (0, 69804) 0.05520455534102185  (0, 25712) 0.11820530527221464  (0, 66307) 0.0008940752697913484  (0, 44977) 0.00017881505395826968  (0, 6022) 0.00017881505395826968  (0, 87439) 0.03884670023396364  (0, 60666) 0.0373479548374943  (0, 54394) 0.03884670023396364  (0, 44527) 0.03884670023396364  (0, 42072) 0.03884670023396364  (0, 34551) 0.03884670023396364  (0, 21489) 0.03289763676604037  (0, 95682) 0.032919656519926906  (0, 88629) 0.03176502575227214  (0, 62904) 0.0276828750877266  (0, 45555) 0.03368539104987918  (0, 90989) 0.1085386279274435  (0, 86726) 0.09191679949998977  (0, 46562) 0.1085386279274435  (0, 30632) 0.1085386279274435  (0, 813) 0.1085386279274435  (0, 88498) 0.07209930891627656  (0, 104490) 0.05411418692765332  (0, 104489) 0.057935291261985045  (0, 103734) 0.16234256078295994  : :  (0, 34708) 1.1480330462956787  (0, 32430) -0.24147782461770798  (0, 32408) -0.17614155541516396  (0, 31694) -0.3832012882832652  (0, 27624) -0.4944767802809593  (0, 27622) 0.17562949621332108  (0, 21446) -1.196088602099954  (0, 19362) -0.33016815791242504  (0, 19272) 0.38756465053447153  (0, 19201) -0.22301971831148704  (0, 18514) 0.14804565206490483  (0, 17583) -0.24164559083706227  (0, 15189) -0.1330807505785436  (0, 14067) -0.16895069159835555  (0, 13514) 0.602711316879367  (0, 13017) -0.4624548819474732  (0, 13015) -0.8072900327803438  (0, 12472) 0.6649143062301024  (0, 6570) 0.132189099959475  (0, 5665) -0.09426021201095325  (0, 1685) -0.4919175184791278  (0, 823) 0.11341916761224324  (0, 578) 1.2234064331407262  (0, 516) -0.23294664034928017  (0, 1) -0.29782038693347046), 'b': CArray(1,)(dense: [0.550898]), 'alpha': None, 'sv_idx': None, 'kernel': None}

In [6]:
# Test the Classifier
ts_set = CDataset(tfidf_test, y_test)
print(ts_set)

y_pred = clf_lin.predict(ts_set.X)
metric = CMetricAccuracy()
acc = metric.performance_score(y_true=ts_set.Y, y_pred=y_pred)

confusion_matrix = CMetricConfusionMatrix() 
cm = confusion_matrix.performance_score(y_true=ts_set.Y, y_pred=y_pred)

print("Accuracy on test set: {:.2%}".format(acc))
print("Confusion Matrix: ")
print(cm)
print("False Positive Rate: {:.2%}".format(39/(39+3445)))

print("False Negative Rate: {:.2%}".format(15/(15+3203)))

CDataset{'X': CArray(6744, 106158)(sparse: (0, 101946) 0.1060033440163194  (0, 101687) 0.4373061476555757  (0, 95734) 0.3208507119454746  (0, 95423) 0.31006036368134593  (0, 90296) 0.1891302217668824  (0, 88647) 0.22987985162514124  (0, 83685) 0.16079043665130593  (0, 82964) 0.2140125702818817  (0, 79609) 0.38704263644366776  (0, 76617) 0.16401947960473945  (0, 76396) 0.1630918680694897  (0, 68301) 0.3574896354751005  (0, 62550) 0.1105421599968617  (0, 62530) 0.1743943052625822  (0, 61791) 0.1690683682680177  (0, 19373) 0.189353740551165  (1, 96843) 0.12429398522034467  (1, 93422) 0.1292818095595453  (1, 92439) 0.108310870614031  (1, 92405) 0.1138709603876764  (1, 90820) 0.12429398522034467  (1, 89117) 0.11801006971601068  (1, 88909) 0.11801006971601068  (1, 88273) 0.06123721804043749  (1, 85516) 0.0733272612886512  : :  (6743, 87960) 0.11072450438215084  (6743, 82181) 0.08168787345627136  (6743, 78195) 0.08648793817854585  (6743, 77913) 0.203456033517438  (6743, 77758) 0.5120461034625545  (6743, 77656) 0.07980723328554841  (6743, 76600) 0.07120926588423758  (6743, 70863) 0.04857349247510009  (6743, 61579) 0.07791333286205042  (6743, 53480) 0.07593554130151366  (6743, 43066) 0.10722051437868206  (6743, 28865) 0.13101156301680894  (6743, 28570) 0.12204713111201751  (6743, 27870) 0.06771194052630626  (6743, 22781) 0.4754708931199248  (6743, 21378) 0.07787215202564948  (6743, 19727) 0.09545376534489698  (6743, 17400) 0.10970853696528063  (6743, 16543) 0.08045767445858716  (6743, 6955) 0.18590637391154932  (6743, 4578) 0.18086713633284918  (6743, 4518) 0.0995382392587948  (6743, 3420) 0.46466251389374746  (6743, 807) 0.09473327423479581  (6743, 527) 0.09456874612884775), 'Y': CArray(6744,)(dense: [1 1 0 ... 1 1 0]), 'header': None}
Accuracy on test set: 99.04%
Confusion Matrix:
CArray([[3333   45]
 [  20 3346]])
False Positive Rate: 1.12%
False Negative Rate: 0.47%

In [7]:
import random
from secml.array import CArray
from secml.adv.attacks.evasion import CAttackEvasionPGD

nb_attack=100

class_to_attack=1
cnt = 0 # the number of success adversaril examples

ori_examples2_x = []
ori_examples2_y = []
number_list = []
for i in range(nb_attack):
    #take a point at random being the starting point of the attack
    idx_candidates = np.where(y_test == class_to_attack)
    #select nb_init_pts points randomly in candidates and make them move
    rn = np.random.choice(idx_candidates[0].size, 1)
    x0,y0 =ts_set[idx_candidates[0][rn[0]],:].X, ts_set[idx_candidates[0][rn[0]],:].Y
    number_list.append(x_test_path[idx_candidates[0][rn[0]]])
    
    x0=x0.astype(float)
    y0=y0.astype(int)
    x2 = x0.tondarray()[0]
    y2 = y0.tondarray()[0]
    
    ori_examples2_x.append(x2)
    ori_examples2_y.append(y2)
    
number_list

[(10947,
  'spampy/datasets/enron\\enron2\\spam\\5512.2005-07-20.SA_and_HP.spam.txt'),
 (16415, 'spampy/datasets/enron\\enron3\\spam\\5096.2005-07-02.BG.spam.txt'),
 (29291, 'spampy/datasets/enron\\enron6\\spam\\0100.2004-08-07.BG.spam.txt'),
 (27528,
  'spampy/datasets/enron\\enron5\\spam\\4921.2005-07-20.SA_and_HP.spam.txt'),
 (29987, 'spampy/datasets/enron\\enron6\\spam\\1041.2004-10-14.BG.spam.txt'),
 (26511,
  'spampy/datasets/enron\\enron5\\spam\\3462.2005-07-04.SA_and_HP.spam.txt'),
 (10955,
  'spampy/datasets/enron\\enron2\\spam\\5542.2005-07-20.SA_and_HP.spam.txt'),
 (22053, 'spampy/datasets/enron\\enron4\\spam\\5348.2005-06-05.GP.spam.txt'),
 (19352, 'spampy/datasets/enron\\enron4\\spam\\1745.2004-07-14.GP.spam.txt'),
 (22501, 'spampy/datasets/enron\\enron4\\spam\\5947.2005-08-31.GP.spam.txt'),
 (11008,
  'spampy/datasets/enron\\enron2\\spam\\5765.2005-07-21.SA_and_HP.spam.txt'),
 (20936, 'spampy/datasets/enron\\enron4\\spam\\3860.2005-01-10.GP.spam.txt'),
 (27247,
  'spampy/datasets/enron\\enron5\\spam\\4525.2005-07-19.SA_and_HP.spam.txt'),
 (9965,
  'spampy/datasets/enron\\enron2\\spam\\1704.2005-06-21.SA_and_HP.spam.txt'),
 (33369, 'spampy/datasets/enron\\enron6\\spam\\5538.2005-07-02.BG.spam.txt'),
 (4148, 'spampy/datasets/enron\\enron1\\spam\\1723.2004-07-27.GP.spam.txt'),
 (30000, 'spampy/datasets/enron\\enron6\\spam\\1057.2004-10-15.BG.spam.txt'),
 (16143, 'spampy/datasets/enron\\enron3\\spam\\4057.2005-04-21.BG.spam.txt'),
 (10660,
  'spampy/datasets/enron\\enron2\\spam\\4466.2005-07-13.SA_and_HP.spam.txt'),
 (18618, 'spampy/datasets/enron\\enron4\\spam\\0760.2004-04-05.GP.spam.txt'),
 (30980, 'spampy/datasets/enron\\enron6\\spam\\2362.2004-12-26.BG.spam.txt'),
 (10805,
  'spampy/datasets/enron\\enron2\\spam\\5013.2005-07-18.SA_and_HP.spam.txt'),
 (31876, 'spampy/datasets/enron\\enron6\\spam\\3546.2005-02-20.BG.spam.txt'),
 (20850, 'spampy/datasets/enron\\enron4\\spam\\3743.2004-12-31.GP.spam.txt'),
 (26867,
  'spampy/datasets/enron\\enron5\\spam\\3977.2005-07-14.SA_and_HP.spam.txt'),
 (26586,
  'spampy/datasets/enron\\enron5\\spam\\3574.2005-07-05.SA_and_HP.spam.txt'),
 (16004, 'spampy/datasets/enron\\enron3\\spam\\3577.2005-03-17.BG.spam.txt'),
 (31711, 'spampy/datasets/enron\\enron6\\spam\\3324.2005-02-08.BG.spam.txt'),
 (30678, 'spampy/datasets/enron\\enron6\\spam\\1965.2004-12-04.BG.spam.txt'),
 (5153, 'spampy/datasets/enron\\enron1\\spam\\5112.2005-08-31.GP.spam.txt'),
 (30983, 'spampy/datasets/enron\\enron6\\spam\\2365.2004-12-27.BG.spam.txt'),
 (9940,
  'spampy/datasets/enron\\enron2\\spam\\1617.2004-11-05.SA_and_HP.spam.txt'),
 (10862,
  'spampy/datasets/enron\\enron2\\spam\\5206.2005-07-19.SA_and_HP.spam.txt'),
 (30677, 'spampy/datasets/enron\\enron6\\spam\\1962.2004-12-04.BG.spam.txt'),
 (31970, 'spampy/datasets/enron\\enron6\\spam\\3669.2005-02-27.BG.spam.txt'),
 (27217,
  'spampy/datasets/enron\\enron5\\spam\\4483.2005-07-19.SA_and_HP.spam.txt'),
 (31565, 'spampy/datasets/enron\\enron6\\spam\\3135.2005-01-31.BG.spam.txt'),
 (25166,
  'spampy/datasets/enron\\enron5\\spam\\1571.2005-06-21.SA_and_HP.spam.txt'),
 (31456, 'spampy/datasets/enron\\enron6\\spam\\2989.2005-01-24.BG.spam.txt'),
 (25562,
  'spampy/datasets/enron\\enron5\\spam\\2120.2005-06-25.SA_and_HP.spam.txt'),
 (30533, 'spampy/datasets/enron\\enron6\\spam\\1766.2004-11-22.BG.spam.txt'),
 (27286,
  'spampy/datasets/enron\\enron5\\spam\\4578.2005-07-19.SA_and_HP.spam.txt'),
 (20777, 'spampy/datasets/enron\\enron4\\spam\\3647.2004-12-22.GP.spam.txt'),
 (26940,
  'spampy/datasets/enron\\enron5\\spam\\4080.2005-07-15.SA_and_HP.spam.txt'),
 (22018, 'spampy/datasets/enron\\enron4\\spam\\5302.2005-05-29.GP.spam.txt'),
 (32955, 'spampy/datasets/enron\\enron6\\spam\\4976.2005-05-23.BG.spam.txt'),
 (10014,
  'spampy/datasets/enron\\enron2\\spam\\1907.2005-06-22.SA_and_HP.spam.txt'),
 (10147,
  'spampy/datasets/enron\\enron2\\spam\\2412.2005-06-25.SA_and_HP.spam.txt'),
 (19747, 'spampy/datasets/enron\\enron4\\spam\\2271.2004-09-07.GP.spam.txt'),
 (10955,
  'spampy/datasets/enron\\enron2\\spam\\5542.2005-07-20.SA_and_HP.spam.txt'),
 (26054,
  'spampy/datasets/enron\\enron5\\spam\\2826.2005-06-30.SA_and_HP.spam.txt'),
 (19872, 'spampy/datasets/enron\\enron4\\spam\\2440.2004-09-21.GP.spam.txt'),
 (10173,
  'spampy/datasets/enron\\enron2\\spam\\2507.2005-06-25.SA_and_HP.spam.txt'),
 (4772, 'spampy/datasets/enron\\enron1\\spam\\3890.2005-02-21.GP.spam.txt'),
 (3742, 'spampy/datasets/enron\\enron1\\spam\\0264.2004-01-21.GP.spam.txt'),
 (15459, 'spampy/datasets/enron\\enron3\\spam\\1532.2004-11-23.BG.spam.txt'),
 (21175, 'spampy/datasets/enron\\enron4\\spam\\4173.2005-02-05.GP.spam.txt'),
 (32736, 'spampy/datasets/enron\\enron6\\spam\\4685.2005-05-05.BG.spam.txt'),
 (30664, 'spampy/datasets/enron\\enron6\\spam\\1945.2004-12-03.BG.spam.txt'),
 (31856, 'spampy/datasets/enron\\enron6\\spam\\3518.2005-02-18.BG.spam.txt'),
 (15899, 'spampy/datasets/enron\\enron3\\spam\\3157.2005-02-17.BG.spam.txt'),
 (32610, 'spampy/datasets/enron\\enron6\\spam\\4518.2005-04-24.BG.spam.txt'),
 (3921, 'spampy/datasets/enron\\enron1\\spam\\0881.2004-04-18.GP.spam.txt'),
 (10573,
  'spampy/datasets/enron\\enron2\\spam\\4132.2005-07-05.SA_and_HP.spam.txt'),
 (10023,
  'spampy/datasets/enron\\enron2\\spam\\1939.2005-06-22.SA_and_HP.spam.txt'),
 (27321,
  'spampy/datasets/enron\\enron5\\spam\\4628.2005-07-19.SA_and_HP.spam.txt'),
 (33536, 'spampy/datasets/enron\\enron6\\spam\\5757.2005-07-15.BG.spam.txt'),
 (32388, 'spampy/datasets/enron\\enron6\\spam\\4216.2005-04-04.BG.spam.txt'),
 (20398, 'spampy/datasets/enron\\enron4\\spam\\3143.2004-11-16.GP.spam.txt'),
 (29301, 'spampy/datasets/enron\\enron6\\spam\\0114.2004-08-09.BG.spam.txt'),
 (19107, 'spampy/datasets/enron\\enron4\\spam\\1416.2004-06-10.GP.spam.txt'),
 (18394, 'spampy/datasets/enron\\enron4\\spam\\0463.2004-02-21.GP.spam.txt'),
 (26347,
  'spampy/datasets/enron\\enron5\\spam\\3230.2005-07-03.SA_and_HP.spam.txt'),
 (24358,
  'spampy/datasets/enron\\enron5\\spam\\0446.2002-06-08.SA_and_HP.spam.txt'),
 (24293,
  'spampy/datasets/enron\\enron5\\spam\\0353.2002-05-31.SA_and_HP.spam.txt'),
 (9903,
  'spampy/datasets/enron\\enron2\\spam\\1490.2002-09-20.SA_and_HP.spam.txt'),
 (10737,
  'spampy/datasets/enron\\enron2\\spam\\4774.2005-07-16.SA_and_HP.spam.txt'),
 (3909, 'spampy/datasets/enron\\enron1\\spam\\0842.2004-04-13.GP.spam.txt'),
 (19115, 'spampy/datasets/enron\\enron4\\spam\\1426.2004-06-11.GP.spam.txt'),
 (31102, 'spampy/datasets/enron\\enron6\\spam\\2523.2005-01-04.BG.spam.txt'),
 (18162, 'spampy/datasets/enron\\enron4\\spam\\0163.2004-01-11.GP.spam.txt'),
 (26833,
  'spampy/datasets/enron\\enron5\\spam\\3928.2005-07-14.SA_and_HP.spam.txt'),
 (22430, 'spampy/datasets/enron\\enron4\\spam\\5849.2005-08-19.GP.spam.txt'),
 (33306, 'spampy/datasets/enron\\enron6\\spam\\5452.2005-06-27.BG.spam.txt'),
 (21017, 'spampy/datasets/enron\\enron4\\spam\\3964.2005-01-19.GP.spam.txt'),
 (19739, 'spampy/datasets/enron\\enron4\\spam\\2261.2004-09-04.GP.spam.txt'),
 (18081, 'spampy/datasets/enron\\enron4\\spam\\0056.2003-12-25.GP.spam.txt'),
 (30612, 'spampy/datasets/enron\\enron6\\spam\\1875.2004-11-29.BG.spam.txt'),
 (29812, 'spampy/datasets/enron\\enron6\\spam\\0801.2004-09-27.BG.spam.txt'),
 (18558, 'spampy/datasets/enron\\enron4\\spam\\0678.2004-03-26.GP.spam.txt'),
 (33673, 'spampy/datasets/enron\\enron6\\spam\\5942.2005-07-27.BG.spam.txt'),
 (32096, 'spampy/datasets/enron\\enron6\\spam\\3830.2005-03-09.BG.spam.txt'),
 (20058, 'spampy/datasets/enron\\enron4\\spam\\2693.2004-10-12.GP.spam.txt'),
 (24806,
  'spampy/datasets/enron\\enron5\\spam\\1078.2002-08-27.SA_and_HP.spam.txt'),
 (10552,
  'spampy/datasets/enron\\enron2\\spam\\4044.2005-07-05.SA_and_HP.spam.txt'),
 (30230, 'spampy/datasets/enron\\enron6\\spam\\1360.2004-11-01.BG.spam.txt'),
 (18838, 'spampy/datasets/enron\\enron4\\spam\\1054.2004-05-04.GP.spam.txt'),
 (29757, 'spampy/datasets/enron\\enron6\\spam\\0731.2004-09-22.BG.spam.txt'),
 (3992, 'spampy/datasets/enron\\enron1\\spam\\1142.2004-05-18.GP.spam.txt'),
 (26783,
  'spampy/datasets/enron\\enron5\\spam\\3855.2005-07-12.SA_and_HP.spam.txt')]

In [18]:
# Perform adversarial attacks
noise_type = 'l2'  # Type of perturbation 'l1' or 'l2'
dmax = 0.09 # Maximum perturbation
lb, ub = 0, 1  # Bounds of the attack space. Can be set to `None` for unbounded

solver_params = {
    'eta': 0.01,
    'max_iter': 20,
    'eps': 1e-6}

#set lower bound and upper bound respectively to 0 and 1 since all features are Boolean
pgd_attack = CAttackEvasionPGD(
    classifier=clf_lin,
    double_init_ds=tr_set,
    distance=noise_type,
    dmax=dmax,
    lb=lb, ub=ub,
    solver_params=solver_params)


ad_examples_x = []
ad_examples_y = []
cnt = 0
for i in range(len(ori_examples2_x)):
    print("Current Number:", i)
    x0 = ori_examples2_x[i]
    y0 = ori_examples2_y[i]

    y_pred_pgd, _, adv_ds_pgd, _ = pgd_attack.run(x0, y0)

    if y_pred_pgd.item() == 0:
        cnt = cnt + 1

    ad_examples_x.append(adv_ds_pgd.X.tondarray()[0])
    ad_examples_y.append(y_pred_pgd.item())

    attack_pt = adv_ds_pgd.X.tondarray()[0]
print("Accuracy:", cnt/nb_attack)

Current Number: 0
Current Number: 1
Current Number: 2
Current Number: 3
Current Number: 4
Current Number: 5
Current Number: 6
Current Number: 7
Current Number: 8
Current Number: 9
Current Number: 10
Current Number: 11
Current Number: 12
Current Number: 13
Current Number: 14
Current Number: 15
Current Number: 16
Current Number: 17
Current Number: 18
Current Number: 19
Current Number: 20
Current Number: 21
Current Number: 22
Current Number: 23
Current Number: 24
Current Number: 25
Current Number: 26
Current Number: 27
Current Number: 28
Current Number: 29
Current Number: 30
Current Number: 31
Current Number: 32
Current Number: 33
Current Number: 34
Current Number: 35
Current Number: 36
Current Number: 37
Current Number: 38
Current Number: 39
Current Number: 40
Current Number: 41
Current Number: 42
Current Number: 43
Current Number: 44
Current Number: 45
Current Number: 46
Current Number: 47
Current Number: 48
Current Number: 49
Current Number: 50
Current Number: 51
Current Number: 52
Current Number: 53
Current Number: 54
Current Number: 55
Current Number: 56
Current Number: 57
Current Number: 58
Current Number: 59
Current Number: 60
Current Number: 61
Current Number: 62
Current Number: 63
Current Number: 64
Current Number: 65
Current Number: 66
Current Number: 67
Current Number: 68
Current Number: 69
Current Number: 70
Current Number: 71
Current Number: 72
Current Number: 73
Current Number: 74
Current Number: 75
Current Number: 76
Current Number: 77
Current Number: 78
Current Number: 79
Current Number: 80
Current Number: 81
Current Number: 82
Current Number: 83
Current Number: 84
Current Number: 85
Current Number: 86
Current Number: 87
Current Number: 88
Current Number: 89
Current Number: 90
Current Number: 91
Current Number: 92
Current Number: 93
Current Number: 94
Current Number: 95
Current Number: 96
Current Number: 97
Current Number: 98
Current Number: 99
Accuracy: 0.94

In [19]:
ori_examples2_x = np.array(ori_examples2_x)
ori_examples2_y = np.array(ori_examples2_y)
ad_examples_x = np.array(ad_examples_x)
ad_examples_y = np.array(ad_examples_y)

ori_dataframe = pd.DataFrame(ori_examples2_x, columns = vect.get_feature_names())
ad_dataframe = pd.DataFrame(ad_examples_x, columns = vect.get_feature_names())

# extract the success and fail examples
ad_dataframe['ad_label'] = ad_examples_y
ad_success = ad_dataframe.loc[ad_dataframe.ad_label == 0]
ori_success = ori_dataframe.loc[ad_dataframe.ad_label == 0]
ad_fail = ad_dataframe.loc[ad_dataframe.ad_label == 1]
ori_fail = ori_dataframe.loc[ad_dataframe.ad_label == 1]

ad_success_x = ad_success.drop(columns = ['ad_label'])
ad_fail_x = ad_fail.drop(columns = ['ad_label'])
result = (ad_success_x - ori_success)

vect.idf_
IDF = pd.DataFrame(vect.idf_.T, index=vect.get_feature_names())
IDF.to_csv("idf.csv")
IDF

                         0
aa                5.987656
aaa               7.676231
aaaa             10.103979
aaaahhhhhh       10.509444
aaadrizzl        10.103979
...                    ...
zzxtfeerekvwkug  10.509444
zzxxst           10.509444
zzzglvaa         10.509444
zzzz              8.258153
zzzzcard         10.509444

[106979 rows x 1 columns]

In [11]:
# Method 1
import math
success_num = 0 # the number of success of our method 1
current_num = 0
left = 0
ad_all_x = pd.DataFrame(ad_success_x, columns = vect.get_feature_names())
m1_empty = pd.DataFrame() # the formulated tf-idf matrix via method 1
for left in range(cnt):
    print(current_num)
    right = left+1
    extract100 = ad_success_x[left:right].values/vect.idf_    # tf-idf[i] / idf[i]
    extract100_ad = ad_success_x[left:right]
    extract100_ad = extract100_ad.loc[:, (extract100_ad>0).all(axis=0)] # Extract the features of TF-IDF > 0
    extract100_ad_columns = extract100_ad.columns.tolist() # the list of above features     
    extract100_ad_idf = IDF.loc[extract100_ad_columns] # the idf value of above features

    X_idf5 = extract100_ad_idf.index.tolist()


    print("len_column: ", len(extract100_ad_columns))
    extract100 = pd.DataFrame(extract100, columns = vect.get_feature_names())
    total_tf = extract100.sum().sum()
    print("total_tf", extract100.sum().sum())
    
    
    for index, row in ad_success_x[left:right].iterrows():
        row = row.sort_values(axis=0, ascending = False)
    l = row[0:500].index.tolist()     # the 500 words with the largest tf-idf value

    X_idf5 = list(set(X_idf5).difference(set(l)))  # delete the words in top 500 words

    extract100 = extract100[l]
    extract100.to_csv("extract100.csv")


    extract100_list = extract100.values.tolist()[0]
    c = len(X_idf5)
    c2 =  float(extract100.quantile(axis=1))    # c2 = a/IDF[A]
    ratio = [] # the ratio between word A and other words (Get b1, c1, d1, ...)
    for i in range(500):
        ratio.append(extract100_list[i]/c2)
    extract100_sum = sum(ratio)     # = 1+b1+c1+d1+......
    print("Extract100_sum", extract100_sum)
    print("c2", c2)
    y1 = (total_tf/c2-extract100_sum)/(c)
    print("y1", y1)
    
    
    flag = True
    for y in range(1,1000):
        for A in range(1,5000):
            if abs(y/A - y1) < 1e-5:
                print(y, y1*A)
                flag = False
                break
        if flag == False:
            break

    print(flag, A, y, y/A)

    extract100_re = []
    for j in range(500):
        extract100_re.append(ratio[j]*A)

    extract100_re_list = extract100_re
    extract100_re = pd.DataFrame(extract100_re, index = l)
    extract100_re.to_csv("extract100_re.csv")
    
    
    
    
    lint = []
    total = 0
    for item in extract100_re_list:
        newitem = float(item)
        lint.append(round(newitem))
        total = total + round(newitem)

    len_y = [math.ceil(y)]*c
    lint2 = lint+len_y
    # print(lint2)
    total2 = total + c*y
    lint2 = [i/total2 for i in lint2]
    l2 = l+X_idf5

    dictionary = dict(zip(l2, lint2))
    formulate_idf = IDF.loc[dictionary.keys()][0].tolist()
    formulate_tf = list(dictionary.values())
    tf_idf_np = np.multiply(np.array(formulate_idf), np.array(formulate_tf))
    tf_idf_np.tolist()

    formulate_tf_idf = pd.DataFrame(tf_idf_np.tolist(), index = list(dictionary.keys()))
    formulate_tf_idf = pd.DataFrame(formulate_tf_idf.values.T, index = formulate_tf_idf.columns, columns = formulate_tf_idf.index)
    formulate_tf_idf = formulate_tf_idf.loc[0:1]*total_tf 
    formulate_columns = formulate_tf_idf.columns
    formulate_tf_idf


    ad_df = ad_success_x[left:right][formulate_columns.tolist()]
    other_df = ad_success_x[left:right].drop(formulate_columns.tolist(), axis=1)
    other_columns = other_df.columns.tolist()
    all_columns_order = formulate_columns.tolist()+other_columns
    ad_df = pd.concat([ad_df, other_df], axis = 1)


    formulate0 = [0]* len(other_columns)
    formulate0_pf = pd.DataFrame(formulate0, index = other_columns)
    formulate0_pf = pd.DataFrame(formulate0_pf.values.T, columns = formulate0_pf.index, index = formulate0_pf.columns)

    df = pd.concat([formulate_tf_idf, formulate0_pf], axis = 1)
    df.to_csv("formulate.csv")

    df_empty = pd.DataFrame(columns=vect.get_feature_names(), dtype=np.float)
    df_empty = df_empty.append(df, sort=True)
    
    formulate_y = [1]
    formulate_y = pd.Series(formulate_y)
    formulate_set = CDataset(df_empty, formulate_y)
    
    m1_empty = m1_empty.append(df_empty, ignore_index=True)

    # Predict
    formulate_pred = clf_lin.predict(formulate_set.X)
    if formulate_pred == 0:
        success_num = success_num+1
    print(formulate_pred)
    current_num = current_num+1
print(success_num)
m1_empty

0
len_column:  11066
total_tf 1.908844010867873
Extract100_sum 3385.3303878243837
c2 0.0004463996503093037
y1 0.08430410899264693
29 29.000613493470542
False 344 29 0.08430232558139535
CArray([0])
1
len_column:  11093
total_tf 1.9216606386524315
Extract100_sum 3188.41063826643
c2 0.0004758328231000712
y1 0.08025204574309293
13 13.000831410381055
False 162 13 0.08024691358024691
CArray([0])
2
len_column:  11103
total_tf 2.0980077200827854
Extract100_sum 3363.592657150503
c2 0.0005025663763224427
y1 0.07648737657461312
27 27.00004393083843
False 353 27 0.0764872521246459
CArray([0])
3
len_column:  11075
total_tf 2.249389288557292
Extract100_sum 3995.8001540530113
c2 0.00046300866140121146
y1 0.08155093738542984
19 19.001368410805153
False 233 19 0.0815450643776824
CArray([0])
4
len_column:  11067
total_tf 1.6494672319262154
Extract100_sum 2876.9724269106355
c2 0.00043554418134784045
y1 0.08613311115377839
18 18.001820231139682
False 209 18 0.0861244019138756
CArray([0])
5
len_column:  11508
total_tf 3.462766458789051
Extract100_sum 511.9299105695487
c2 0.004718131502639248
y1 0.02016693218679302
5 5.001399182324669
False 248 5 0.020161290322580645
CArray([0])
6
len_column:  11065
total_tf 1.8910184406824877
Extract100_sum 3418.6431040762022
c2 0.0004371249013132508
y1 0.08588677404337376
14 13.999544169069923
False 163 14 0.08588957055214724
CArray([0])
7
len_column:  11041
total_tf 1.2845283380303922
Extract100_sum 2231.921227204426
c2 0.0004008591204221764
y1 0.09226042328085189
25 25.002574709110863
False 271 25 0.09225092250922509
CArray([0])
8
len_column:  11082
total_tf 2.060923765036011
Extract100_sum 3505.3410632352484
c2 0.00047346961371178627
y1 0.08008599356224602
35 34.997579186701515
False 437 35 0.08009153318077804
CArray([0])
9
len_column:  11049
total_tf 1.9590905325943153
Extract100_sum 3769.5998338360046
c2 0.0004158415023465741
y1 0.08925465672463713
39 39.00428498866643
False 437 39 0.08924485125858124
CArray([0])
10
len_column:  11031
total_tf 0.9551232383195567
Extract100_sum 1445.5199658841932
c2 0.0003932460162984953
y1 0.09337181967443672
31 30.99944413191299
False 332 31 0.09337349397590361
CArray([0])
11
len_column:  11030
total_tf 1.040686236373907
Extract100_sum 1667.0661749388098
c2 0.0003923819464145324
y1 0.09355759224553273
16 15.998348273986096
False 171 16 0.0935672514619883
CArray([0])
12
len_column:  11069
total_tf 1.9008720697900496
Extract100_sum 3316.634000169193
c2 0.00045297694645266137
y1 0.08324014974020091
68 68.00720233774415
False 817 68 0.0832313341493268
CArray([0])
13
len_column:  11100
total_tf 2.5843829053947194
Extract100_sum 4190.630475984662
c2 0.0005189176573811357
y1 0.07450026939470289
19 18.997568695649235
False 255 19 0.07450980392156863
CArray([1])
14
len_column:  11052
total_tf 1.6646338746878424
Extract100_sum 3057.6035316003645
c2 0.00041607017939012617
y1 0.08939018769998631
16 16.00084359829755
False 179 16 0.0893854748603352
CArray([0])
15
len_column:  11163
total_tf 2.71476380617936
Extract100_sum 2663.462520772188
c2 0.0008583909393557378
y1 0.046812045637677546
11 11.000830724854223
False 235 11 0.04680851063829787
CArray([0])
16
len_column:  11032
total_tf 1.2964687143154792
Extract100_sum 2309.7625143839555
c2 0.0003936160181600924
y1 0.09342738395697014
27 27.000513963564373
False 289 27 0.09342560553633218
CArray([0])
17
len_column:  11066
total_tf 1.4700374959929958
Extract100_sum 2510.5696754363953
c2 0.0004276651996568329
y1 0.08771400923614325
5 4.999698526460166
False 57 5 0.08771929824561403
CArray([0])
18
len_column:  11043
total_tf 1.6636268355724297
Extract100_sum 3169.375901017943
c2 0.00040196620508195437
y1 0.0919422594824038
49 49.00522430412122
False 533 49 0.09193245778611632
CArray([0])
19
len_column:  11064
total_tf 1.8767637069287866
Extract100_sum 3350.2008846826798
c2 0.00044216234604888623
y1 0.08465655492394847
16 16.00008888062626
False 189 16 0.08465608465608465
CArray([0])
20
len_column:  11242
total_tf 3.6158109853805724
Extract100_sum 576.1827166759482
c2 0.005470118009148525
y1 0.007896927669947281
2 1.9979227004966622
False 253 2 0.007905138339920948
CArray([1])
21
len_column:  11114
total_tf 2.5933278838750424
Extract100_sum 3894.044348930043
c2 0.0005598122746491943
y1 0.06957332050168179
8 8.000931857693406
False 115 8 0.06956521739130435
CArray([0])
22
len_column:  11037
total_tf 1.2713434302059416
Extract100_sum 2216.851399016799
c2 0.0003979811637396677
y1 0.09278067891912196
9 8.99972585515483
False 97 9 0.09278350515463918
CArray([0])
23
len_column:  11046
total_tf 1.3097650058661228
Extract100_sum 2286.4565088507306
c2 0.00040186699251989306
y1 0.09223817082840671
19 19.001063190651784
False 206 19 0.09223300970873786
CArray([0])
24
len_column:  11042
total_tf 1.5908826717459477
Extract100_sum 2978.0197428479846
c2 0.00040313093553235896
y1 0.09185142972797937
44 43.99683483970212
False 479 44 0.0918580375782881
CArray([0])
25
len_column:  11074
total_tf 2.2163722140640547
Extract100_sum 3974.779398621517
c2 0.0004571122681146476
y1 0.08264226016858171
10 9.999713480398388
False 121 10 0.08264462809917356
CArray([1])
26
len_column:  11122
total_tf 2.398024188310929
Extract100_sum 2998.5870132024347
c2 0.0006596455195392402
y1 0.05994496990041795
19 19.00255545843249
False 317 19 0.05993690851735016
CArray([0])
27
len_column:  11053
total_tf 1.8394943546387588
Extract100_sum 3421.6377912328167
c2 0.00042259981803085807
y1 0.08823714829732525
3 3.0000630421090584
False 34 3 0.08823529411764706
CArray([0])
28
len_column:  11051
total_tf 1.9158745665807475
Extract100_sum 3654.6861265128555
c2 0.0004171113727454176
y1 0.08894991368905865
29 28.99767186263312
False 326 29 0.08895705521472393
CArray([0])
29
len_column:  11081
total_tf 1.9591286180857994
Extract100_sum 3416.4166500634037
c2 0.0004561725321393399
y1 0.08300662437743266
21 21.000675967490462
False 253 21 0.08300395256916997
CArray([1])
30
len_column:  11031
total_tf 0.8922327310970499
Extract100_sum 1286.76101154035
c2 0.00039290425794033187
y1 0.09344834356813078
10 9.998972761789993
False 107 10 0.09345794392523364
CArray([0])
31
len_column:  11109
total_tf 2.2190783118368005
Extract100_sum 3499.5507262105184
c2 0.0005167652848398427
y1 0.07490054762352286
20 19.9984462154806
False 267 20 0.0749063670411985
CArray([0])
32
len_column:  11163
total_tf 2.71476380617936
Extract100_sum 2663.462520772188
c2 0.0008583909393557378
y1 0.046812045637677546
11 11.000830724854223
False 235 11 0.04680851063829787
CArray([0])
33
len_column:  11081
total_tf 2.1308710549854015
Extract100_sum 3667.0631756569837
c2 0.000471531796081869
y1 0.08051950095963994
31 31.000007869461378
False 385 31 0.08051948051948052
CArray([1])
34
len_column:  11057
total_tf 1.7313674587714547
Extract100_sum 3208.0914475843942
c2 0.0004171244145417505
y1 0.08928961745880946
5 5.00021857769333
False 56 5 0.08928571428571429
CArray([0])
35
len_column:  11115
total_tf 3.081879225619082
Extract100_sum 4043.2963198625143
c2 0.0006596650063789547
y1 0.05921704652837083
9 9.000991072312367
False 152 9 0.05921052631578947
CArray([0])
36
len_column:  11045
total_tf 1.5056172804889525
Extract100_sum 2755.8210458450217
c2 0.0004044135495346226
y1 0.09171583072524979
31 30.999950785134427
False 338 31 0.09171597633136094
CArray([0])
37
len_column:  11060
total_tf 1.7940554944121407
Extract100_sum 3288.452075608732
c2 0.00042546378991801615
y1 0.08790278448967154
8 7.99915338856011
False 91 8 0.08791208791208792
CArray([0])
38
len_column:  11060
total_tf 1.5094522787981497
Extract100_sum 2617.8870324070854
c2 0.00042576937821212004
y1 0.08781699283909113
31 30.999398472199168
False 353 31 0.08781869688385269
CArray([0])
39
len_column:  11052
total_tf 1.9496753130432674
Extract100_sum 3741.4478041124576
c2 0.0004160405409651349
y1 0.08953895017063876
59 59.00616816245094
False 659 59 0.08952959028831563
CArray([0])
40
len_column:  11039
total_tf 1.148173995216705
Extract100_sum 1896.1610615619513
c2 0.0004001016448771289
y1 0.09237543403132886
23 23.001483073800888
False 249 23 0.09236947791164658
CArray([0])
41
len_column:  11039
total_tf 1.45136456482449
Extract100_sum 2664.147085155255
c2 0.0003987669301649448
y1 0.0925594577803945

41 41.003839796714765
False 443 41 0.09255079006772009
CArray([0])
42
len_column:  11122
total_tf 2.916022999624117
Extract100_sum 4167.065403544957
c2 0.0006004190598547872
y1 0.06492006088119133
37 37.004434702279056
False 570 37 0.06491228070175438
CArray([0])
43
len_column:  11054
total_tf 1.4702523793323616
Extract100_sum 2600.1100573902263
c2 0.0004145339852394366
y1 0.08969580375562808
20 20.002164237505063
False 223 20 0.08968609865470852
CArray([0])
44
len_column:  11059
total_tf 1.8659254150739915
Extract100_sum 3467.6628249146365
c2 0.0004242913370156458
y1 0.08808437387626591
17 17.00028415811932
False 193 17 0.08808290155440414
CArray([0])
45
len_column:  11041
total_tf 1.3096724784959977
Extract100_sum 2290.7219603559324
c2 0.00040149892500869954
y1 0.09213885411661409
34 33.9992371690306
False 369 34 0.0921409214092141
CArray([0])
46
len_column:  11123
total_tf 2.5146048951987208
Extract100_sum 3404.600819589512
c2 0.000616004871800207
y1 0.06377837708576065
25 25.001123817618172
False 392 25 0.06377551020408163
CArray([0])
47
len_column:  11043
total_tf 1.495501925412384
Extract100_sum 2722.530100945342
c2 0.0004060160593374292
y1 0.09113406840163342
36 35.9979570186452
False 395 36 0.09113924050632911
CArray([0])
48
len_column:  11091
total_tf 1.643851351449646
Extract100_sum 2647.3409182388873
c2 0.00046816674463413696
y1 0.08157028974520379
27 26.999765905662453
False 331 27 0.08157099697885196
CArray([0])
49
len_column:  11052
total_tf 1.3434591081561549
Extract100_sum 2299.1843966555184
c2 0.00041341189943842514
y1 0.09007791879844021
39 39.00373883972461
False 433 39 0.09006928406466513
CArray([0])
50
len_column:  11061
total_tf 1.9506233841269254
Extract100_sum 3646.2037982454817
c2 0.00042677590960655545
y1 0.08752954355939147
33 32.998637921890584
False 377 33 0.08753315649867374
CArray([0])
51
len_column:  11068
total_tf 2.212985028819702
Extract100_sum 4068.2325707682594
c2 0.0004461112214379497
y1 0.08444173114409682
19 18.999389507421785
False 225 19 0.08444444444444445
CArray([1])
52
len_column:  11074
total_tf 2.2163722140640547
Extract100_sum 3974.779398621517
c2 0.0004571122681146476
y1 0.08264226016858171
10 9.999713480398388
False 121 10 0.08264462809917356
CArray([1])
53
len_column:  11138
total_tf 2.1915948748893164
Extract100_sum 2853.2203916450394
c2 0.0006211381225665585
y1 0.06346429011592357
29 29.00318058297707
False 457 29 0.06345733041575492
CArray([0])
54
len_column:  11029
total_tf 0.884767650520129
Extract100_sum 1269.8348384912429
c2 0.00039242495728723385
y1 0.09353037535402761
13 13.000722174209837
False 139 13 0.09352517985611511
CArray([0])
55
len_column:  11058
total_tf 1.8764887552608664
Extract100_sum 3502.848862199559
c2 0.00042335151107183587
y1 0.08804805957327168
14 13.999641472150197
False 159 14 0.0880503144654088
CArray([0])
56
len_column:  11041
total_tf 1.3204235785358016
Extract100_sum 2317.8059678758527
c2 0.0004016810691606386
y1 0.09196829222016056
47 46.99579732450205
False 511 47 0.09197651663405088
CArray([0])
57
len_column:  11060
total_tf 1.939172424755967
Extract100_sum 3532.4796676934725
c2 0.00043714945152296123
y1 0.0855557543523188
16 15.998926063883616
False 187 16 0.0855614973262032
CArray([0])
58
len_column:  11068
total_tf 1.966173563976301
Extract100_sum 3502.2795531252896
c2 0.0004478773294417539
y1 0.08399912762242018
21 20.999781905605044
False 250 21 0.084
CArray([1])
59
len_column:  11054
total_tf 2.259259434204869
Extract100_sum 4259.599185934949
c2 0.0004376430821780458
y1 0.08553477949555802
13 13.001286483324819
False 152 13 0.08552631578947369
CArray([0])
60
len_column:  11108
total_tf 2.890658665196717
Extract100_sum 4329.402200258338
c2 0.000572938801301834
y1 0.06748832771430999
11 11.000597417432529
False 163 11 0.06748466257668712
CArray([0])
61
len_column:  11031
total_tf 0.9551232383195567
Extract100_sum 1445.5199658841932
c2 0.0003932460162984953
y1 0.09337181967443672
31 30.99944413191299
False 332 31 0.09337349397590361
CArray([0])
62
len_column:  11194
total_tf 3.121370597626093
Extract100_sum 433.2007876153502
c2 0.006184721320235494
y1 0.006685037738694764
2 1.9988262838697344
False 299 2 0.006688963210702341
CArray([0])
63
len_column:  11140
total_tf 2.3043663523633047
Extract100_sum 2631.594447089226
c2 0.0007149518171006254
y1 0.05559330424110134
65 64.98857265784747
False 1169 65 0.055603079555175364
CArray([0])
64
len_column:  11056
total_tf 1.3530077451930467
Extract100_sum 2305.261960955936
c2 0.0004160203751068537
y1 0.0897121269497001
34 34.000896113936335
False 379 34 0.08970976253298153
CArray([0])
65
len_column:  11047
total_tf 1.4292060254817092
Extract100_sum 2509.5595160653397
c2 0.00041326626033626624
y1 0.08995526596189976
17 17.001545266799056
False 189 17 0.08994708994708994
CArray([0])
66
len_column:  11067
total_tf 2.1876499537144083
Extract100_sum 3994.7058273649454
c2 0.00044797771560567076
y1 0.08409996215605876
37 37.003983348665855
False 440 37 0.08409090909090909
CArray([0])
67
len_column:  11136
total_tf 2.485757854768316
Extract100_sum 2808.4943517913475
c2 0.000733608133777782
y1 0.05452291483576711
32 32.00495100859529
False 587 32 0.054514480408858604
CArray([0])
68
len_column:  11084
total_tf 1.8152250719131857
Extract100_sum 3110.150107992465
c2 0.0004546210247374255
y1 0.08339769693404189
94 93.98920444466522
False 1127 94 0.0834072759538598
CArray([0])
69
len_column:  11192
total_tf 2.314455423538875
Extract100_sum 2565.16246752409
c2 0.0007321462206775025
y1 0.055745456174000854
16 15.998945921938246
False 287 16 0.05574912891986063
CArray([0])
70
len_column:  11068
total_tf 1.782900928270984
Extract100_sum 3152.3100476769187
c2 0.0004397136979339565
y1 0.08538757059081836
38 37.99746891291417
False 445 38 0.0853932584269663
CArray([0])
71
len_column:  11041
total_tf 1.3204235785358016
Extract100_sum 2317.8059678758527
c2 0.0004016810691606386
y1 0.09196829222016056
47 46.99579732450205
False 511 47 0.09197651663405088
CArray([0])
72
len_column:  11036
total_tf 1.259005539534932
Extract100_sum 2204.621657359146
c2 0.0003949045697433922
y1 0.09334703645693161
59 58.99532704078078
False 632 59 0.09335443037974683
CArray([0])
73
len_column:  11037
total_tf 1.4112671298382982
Extract100_sum 2563.585014070136
c2 0.0003988181976729325
y1 0.09253465805228472
26 26.002238912692007
False 281 26 0.09252669039145907
CArray([0])
74
len_column:  11077
total_tf 1.990632865758647
Extract100_sum 3496.769729726103
c2 0.000455035167599256
y1 0.08300174269270161
21 20.999440901253507
False 253 21 0.08300395256916997
CArray([0])
75
len_column:  11065
total_tf 2.006339523230654
Extract100_sum 3722.250472389486
c2 0.00043291540321514093
y1 0.0863448707242988
31 30.997808590023272
False 359 31 0.08635097493036212
CArray([1])
76
len_column:  11053
total_tf 1.649009633260966
Extract100_sum 3024.1256271481147
c2 0.00041579007241513604
y1 0.08924866839827758
34 34.00374265974376
False 381 34 0.08923884514435695
CArray([0])
77
len_column:  11037
total_tf 1.1554806653577787
Extract100_sum 1941.2526888528485
c2 0.0003949808938858856
y1 0.09340004936414803
17 16.99880898427494
False 182 17 0.09340659340659341
CArray([0])
78
len_column:  11097
total_tf 2.2963952721500736
Extract100_sum 3787.1685269830186
c2 0.0004991518321119637
y1 0.07676004253033952
35 35.00257939383482
False 456 35 0.07675438596491228
CArray([0])
79
len_column:  11063
total_tf 1.810130438988312
Extract100_sum 3317.99381783957
c2 0.0004266545628080066
y1 0.08753382133651834
26 25.997544936945946
False 297 26 0.08754208754208755
CArray([1])
80
len_column:  11043
total_tf 1.495501925412384
Extract100_sum 2722.530100945342
c2 0.0004060160593374292
y1 0.09113406840163342
36 35.9979570186452
False 395 36 0.09113924050632911
CArray([0])
81
len_column:  11050
total_tf 1.553681509604965
Extract100_sum 2819.483692247086
c2 0.0004121408063144675
y1 0.09007578776812702
39 39.002816103599
False 433 39 0.09006928406466513
CArray([0])
82
len_column:  11060
total_tf 1.3583784761462148
Extract100_sum 2193.4761437503944
c2 0.0004397051123042041
y1 0.08483126027886881
19 19.002202302466614
False 224 19 0.08482142857142858
CArray([0])
83
len_column:  11039
total_tf 1.4254405303898916
Extract100_sum 2572.0684460439766
c2 0.00040277322352651304
y1 0.09175408820995072
49 48.996683104113686
False 534 49 0.09176029962546817

CArray([0])
84
len_column:  11053
total_tf 1.573042718622193
Extract100_sum 2848.8834287590194
c2 0.00041445962688651324
y1 0.08969231184375431
20 20.001385541157212
False 223 20 0.08968609865470852
CArray([1])
85
len_column:  11058
total_tf 1.882039140486258
Extract100_sum 3496.6933244203797
c2 0.0004256520737566546
y1 0.08759709507308724
12 12.000802025012952
False 137 12 0.08759124087591241
CArray([0])
86
len_column:  11061
total_tf 2.393428413445259
Extract100_sum 4522.261575531958
c2 0.0004420897382931317
y1 0.08442720038482177
32 31.99790894584745
False 379 32 0.08443271767810026
CArray([0])
87
len_column:  11053
total_tf 1.6084643174128812
Extract100_sum 2921.331883647706
c2 0.00041618031450928617
y1 0.0894052570019656
27 27.00038761459361
False 302 27 0.08940397350993377
CArray([0])
88
len_column:  11067
total_tf 1.5879011575027755
Extract100_sum 2724.336800012342
c2 0.0004373913810597959
y1 0.08574362483253005
65 64.99366762305777
False 758 65 0.08575197889182058
CArray([0])
89
len_column:  11147
total_tf 2.7609551742366194
Extract100_sum 3336.56698340522
c2 0.000700820627418004
y1 0.05663907196731934
26 25.99733403299958
False 459 26 0.05664488017429194
CArray([0])
90
len_column:  11061
total_tf 2.20819682614249
Extract100_sum 4190.4817506642685
c2 0.0004328708615809235
y1 0.08624196431121141
37 36.9978026895097
False 429 37 0.08624708624708624
CArray([1])
91
len_column:  11044
total_tf 1.4694111626076014
Extract100_sum 2666.8468191457623
c2 0.0004043950231821752
y1 0.09168784698166794
32 31.99905859660211
False 349 32 0.09169054441260745
CArray([0])
92
len_column:  11087
total_tf 2.14111985583849
Extract100_sum 3677.961676472348
c2 0.0004726191517715005
y1 0.08051067263358369
19 19.000518741525752
False 236 19 0.08050847457627118
CArray([0])
93
len_column:  11031
total_tf 1.0915608276945816
Extract100_sum 1792.3939855617873
c2 0.00039324263406164344
y1 0.0933815150909983
24 23.999049378386566
False 257 24 0.0933852140077821
CArray([0])
82

,aa,aaa,aaaa,aaadrizzl,aaagrp,aaaplusdirect,aaasash,aab,aababp,aabda,...,zzucpkow,zzw,zzx,zzxtfeerekvwkug,zzxxst,zzyudgpd,zzzglvaa,zzzxlqbha,zzzz,zzzzcard
0,0.0,0.000295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,0.0,0.000311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90,0.0,0.000293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,0.0,0.000291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,0.0,0.000298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,0.0,0.000288,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Black-box Attack

from collections import namedtuple
CLF = namedtuple('CLF', 'clf_name clf xval_parameters')

random_state = 999
from secml.ml.classifiers import CClassifierKNN, CClassifierDecisionTree, CClassifierSGD


target_clf_list = [
    CLF(clf_name='kNN',
        clf=CClassifierKNN(),
        xval_parameters={'n_neighbors': [160]}),
    CLF(clf_name='Decision Tree',
        clf=CClassifierDecisionTree(random_state=random_state),
        xval_parameters={'max_depth': [55]}),
    CLF(clf_name='Logistic(SGD)',
        clf=CClassifierSGD(random_state=random_state, regularizer = 'l2', loss='log'),
        xval_parameters={'alpha': [1e-6, 1e-5, 1e-4, 1e-4]}),
]

for i, test_case in enumerate(target_clf_list):

    clf = test_case.clf
    xval_params = test_case.xval_parameters

    print("\nEstimating the best training parameters of {:} ..."
          "".format(test_case.clf_name))

    best_params2 = clf.estimate_parameters(
        dataset=tr_set, parameters=xval_params, splitter=xval_splitter,
        metric='accuracy', perf_evaluator='xval')

    print("The best parameters for '{:}' are: ".format(test_case.clf_name),
          [(k, best_params2[k]) for k in sorted(best_params2)])

    print("Training of {:} ...".format(test_case.clf_name))
    clf.fit(tr_set.X, tr_set.Y)

    # Predictions on test set and performance evaluation
    y_pred1 = clf.predict(ts_set.X)
    acc1 = metric.performance_score(y_true=ts_set.Y, y_pred=y_pred1)

    print("Classifier: {:}\tAccuracy: {:.2%}".format(test_case.clf_name, acc1))

In [ ]:
ori_dataframe
ori_100 = CDataset(ori_dataframe, ori_examples2_y)


PGD_y = [0]*len(ad_success_x)
PGD_y = pd.Series(PGD_y)
PGD_100 = CDataset(ad_success_x, PGD_y)

m1_y = [0]*len(m1_empty)
m1_y = pd.Series(m1_y)
m1_91 = CDataset(m1_empty, m1_y)


for target_clf in target_clf_list:

    # original emails
    y100 = target_clf.clf.predict(ori_100.X)
    acc100 = metric.performance_score(y_true=ori_100.Y, y_pred=y100)
    print("Classifier: {:}\tAccuracy of 100: {:.2%}".format(target_clf.clf_name, acc100))
    
    #PGD
    yPGD = target_clf.clf.predict(PGD_100.X)
    accPGD = metric.performance_score(y_true=PGD_100.Y, y_pred=yPGD)
    print("Classifier: {:}\tAccuracy of PGD: {:.2%}".format(target_clf.clf_name, accPGD))
    
    y_m1 = target_clf.clf.predict(m1_91.X)
    acc_m1 = metric.performance_score(y_true=m1_91.Y, y_pred=y_m1)
    print("Classifier: {:}\tAccuracy of Method 1: {:.2%}".format(target_clf.clf_name, acc_m1))